*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 100px;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 50px;
    left: 90px;
}
.logo a{
    font-weight: bold;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    color: #2f2e41;
    font-size: 2rem;
    letter-spacing: 1;
}
.SearchArea{
    position: fixed;
    right: 90px;
    top: 50px;
    width: 170px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.1);
}
.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 1rem;
    padding: 0px 10px;
}
.searchbox input::placeholder{
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: poppins;
}
.section1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);

}
.section1 img{
    height: 300px;
}
.section1Button{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}
